:root {
  font-family: consolas, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--color-gray-900);
  background-color: white;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
  --color-primary: #1d4ed8;
  --color-danger: #b91c1c;
  --color-success: #15803d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main,
main>div {
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  position: relative;
  height: 1.5rem;
  border: none;
  cursor: pointer;

  &:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
  }
}

h1,
h2 {
  font-size: 1rem;
  font-weight: 700;
}

input {
  height: 2rem;
  padding: 0 0.5rem;
  outline: none;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  height: env(titlebar-area-height);
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--color-gray-300);
  -webkit-app-region: drag;
}

main {
  padding-top: env(titlebar-area-height);
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  height: 2rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--color-gray-200);
}

th {
  text-align: left;
}

tr {
  position: relative;

  &:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
  }
}

#app {
  width: 100%;
  overflow-y: scroll;
}

#auth {
  padding: 1rem;

  input {
    display: block;
    width: 32rem;
  }

  button {
    width: 16rem;
    height: 2rem;
  }
}

#main {
  display: flex;
}

#menu {
  width: 40%;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid var(--color-gray-300);

  img {
    width: 1.25rem;
    height: 1.25rem;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    height: 2rem;
    padding-left: 0.5rem;
    border-bottom: 1px solid var(--color-gray-200);
    cursor: pointer;

    &:hover::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.05);
      pointer-events: none;
    }
  }
}

#version {
  color: var(--color-gray-300);
}

.menu-active {
  background-color: var(--color-gray-200);
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 0.5rem;
}

.button-config {
  width: 2rem;
  background-color: var(--color-gray-300);
}

.button-install {
  width: 6rem;
  background-color: var(--color-gray-300);
}

.button-play {
  width: 6rem;
  color: var(--color-gray-100);
  background-color: var(--color-primary);
}

/* tailwind */

.hidden {
  display: none !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-gray-500 {
  color: var(--color-gray-500);
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}