:root {
  font-family: consolas, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--color-gray-900);
  background-color: white;

  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
  --color-primary: #1d4ed8;
  --color-danger: #b91c1c;
  --color-success: #15803d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main {
  height: 100%;
}

button {
  width: 6rem;
  height: 1.5rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

h1,
h2 {
  font-size: 1rem;
  font-weight: 700;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  height: env(titlebar-area-height);
  -webkit-app-region: drag;
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--color-gray-300);
}

main {
  display: flex;
  padding-top: env(titlebar-area-height);
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 0.5rem;

  &:hover {
    background-color: var(--color-gray-100);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  height: 2rem;
  padding: 0 0.25rem;
  border-bottom: 1px solid var(--color-gray-200);
}

th {
  text-align: left;
}

tr {
  &:hover {
    background-color: var(--color-gray-100);
  }
}

#menu {
  width: 40%;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid var(--color-gray-300);

  img {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--color-gray-300);
  }

  li {
    height: 2rem;
    padding-left: 0.5rem;
    cursor: pointer;
  }
}

#main {
  width: 100%;
  overflow-y: scroll;
}

#version {
  color: var(--color-gray-300);
}

.menu-active {
  background-color: var(--color-gray-200);
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 0.5rem;
}

.button-config {
  width: 2rem;
  background-color: var(--color-gray-300);
}

.button-install {
  background-color: var(--color-gray-300);
}

.button-play {
  color: var(--color-gray-100);
  background-color: var(--color-primary);
}

/* tailwind */

.text-gray-500 {
  color: var(--color-gray-500);
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}